/* Globals  */
h1,
h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  color: #c8c8c8;
  padding-left: .5rem;
  border-left: .3rem solid #c8c8c8;
}

h2:hover {
  border-left: .3rem solid #42704e;
}

p {
  line-height: 1.4;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  margin: auto;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.about,
.portfolio,
.contact,
.abilities {
  width: 95%;
  margin: auto;
  padding: 2rem 0;
}


/* header  */

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

header .logo {
  font-size: 2rem;
}

.header nav {
  display: flex;
  justify-content: space-around;
}

.header li {
  margin-left: .5rem;
  box-sizing: border-box;
}

/* header nav li:hover:nth-child(1) {
  border-bottom: .3rem solid #42704e;
} */
header nav li:hover {
  border-bottom: .3rem solid #42704e;
}

/* about  */

section .about-info {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 1rem;
  align-items: center;
  padding-top: 1.5rem;
}

.about-info img {
  border-radius: 50%;
  width: 80%;
  border: .4rem solid #f0f0f0;
  box-sizing: border-box;
}
.about-info img:hover {
  border-radius: 50%;
  width: 80%;
  border: .4rem solid #42704e;
  box-sizing: border-box;
}

.social nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.social li {
  color: #000;
  margin-right: .5rem;
}


.about .fa-linkedin-in {
  color: #fff;
  background: #0a76a8;
  padding: .6rem;
  font-size: 1.3rem;
  border-radius: 50%;
}

.about .fa-github-alt {
  color: #fff;
  background: #000000;
  padding: .6rem;
  font-size: 1.3rem;
  border-radius: 50%;
}

.about .fa-twitter {
  
  color: #fff;
  background: #00acee;
  padding: .6rem;
  font-size: 1.3rem;
  border-radius: 50%;
}

.about .fa-skype {
  color: #fff;
  background: #00aff0;
  padding: .6rem;
  font-size: 1.3rem;
  border-radius: 50%;
}


/* portfolio  */

section .portfolio-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  padding-top: 1.5rem;
}

.portfolio-img img {
  width: 100%;
  border: .4rem solid #f0f0f0;
  box-sizing: border-box;
}
.portfolio-img img:hover {
  width: 100%;
  border: .6rem solid #42704e;
  box-sizing: border-box;
}


/* abilities  */

section .list-abilities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 0 1rem;
  padding-top: 1.3rem;
}

section .b_back {
  width: 100%;
  height: 1.2rem;
  background-color: #f0f0f0;
  border-radius: .6rem;
  border: solid 1px #d5d5d5;
}
section  .b_back:hover {
  width: 100%;
  height: 1.2rem;
  background-color: #4c2358;
  border-radius: .6rem;
  /* border: solid 1px #d5d5d5; */
}

.abilities h3 {
  width: 25%;
}

section .b_frontf {
  width: 32%;
  height: 1.2rem;
  background-color: #42704e;
  border-radius: .6rem;
}

section .front-box,
section .back-box {
  display: flex;
  margin: 1rem 0
}


/* contact */

section .contact-box {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 1.5rem;
  padding-top: .2rem;
}

.contact textarea {
  width: 100%;
}

.contact-box-letf-label {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0 2rem;
}

.contact-box-letf-label div,
.contact-box-letf-label p {
  margin: .4rem 0;
}

label {
  margin-top: 1rem;
}


textarea {
  padding-top: 1rem;
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: .5rem;
}

input[type=submit] {
  background-color: #42704e;
  color: white;
  padding: .8rem 2rem;
  border: none;
  cursor: pointer;
  margin-top: .8rem;
}

input[type=text] {
  box-sizing: border-box;
}


.contact-box .contact-box-left p {
  margin-top: 1rem;
  margin-bottom: .4rem;
  /* margin-left: 0.4rem; */
}

.contact-box-right {
  margin-top: -1.6rem;
}

.contact-box-right h3,
.contact-box-right p {
  line-height: 2;
}

.contact-box-right p {
  margin-bottom: 1.5rem;
}


/* footer  */

.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5rem 1.5rem;
}

footer p {
  font-size: .7rem;
}