h1,
h2,
h3 {
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}

p {
    line-height: 1.4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    margin: auto;
}

a,
li {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.about,
.portfolio,
.contact {
    width: 95%;
    margin: auto;
    padding: 2rem 0;
}


/* header  */

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #000;
    color: #fff;
}

.header nav {
    display: flex;
    justify-content: space-around;
}

.header li {
    margin-left: .5rem;
}


/* about  */

section .about-info {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 1rem;
    align-items: center;
    padding-top: 1.5rem;
}

.about-info img {
    border-radius: 50%;
    width: 80%;
}

.social nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

.social li {
    color: #000;
    margin-right: .5rem;
}


/* portfolio  */

section .portfolio-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    align-items: center;
}

.portfolio-img img {
    width: 100%;
}


/* abilities  */

section .list-abilities {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0 1rem;
}

section .b_back {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.abilities h3 {
    width: 25%;
}

section .b_front {
    width: 50%;
    height: 20px;
    background-color: #42704e;
    border-radius: 10px;
}

section .front-box,
section .back-box {
    display: flex;
    margin: 1rem 0
}


/* contact */

section .contact-box {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1.5rem;
}

.contact textarea {
    width: 100%;
}

.contact-box-letf-label {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 0 2rem;
}

label {
    margin-top: 1rem;
}

textarea {
    padding-top: 1rem;
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: .5rem;
}

input[type=submit] {
    background-color: #42704e;
    color: white;
    padding: .8rem 2rem;
    border: none;
    cursor: pointer;
    margin-top: .8rem;
}

input[type=text] {
    box-sizing: border-box;
}

.contact-box-letf-label div,
.contact-box-letf-label p {
    margin: .4rem;
}

.contact-box p {
    margin-top: 1rem;
    margin-bottom: .4rem;
    margin-left: 0.4rem;
}


/* footer  */

.footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: .8rem 1.2rem;
}